.App {
  text-align: left;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.homeHead{
  text-align: center;
  font-weight: 800;
  margin: 50px auto 40px auto;
}
.summary{
  text-align: center;
  font-weight: 400;
}
.header{
  width: 100%;
  background-color: aqua;
  /* color: white; */
  padding: 3%;
}
a{
  text-decoration: none !important;
}
.logout{
  color: red;
}
.App-link {
  color: #61dafb;
}
.errmsg{
  color: red;
}
.app-check{
  width: 20px;
  margin: 1%;
}
.searchHead{
  padding-top: 10px;
  padding-bottom: 10px;
}
.searchBar{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.btn{
  margin: 5px;
}
.lgbtn{
  position:relative;
  left: 42%;
  top: 100px;
}
.rgbtn{
  position: relative;
  left: 44%;
  top: 100px;
}
.input-wrapper{
  /* background-color: white; */
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  /* box-shadow: 0px 0px 8px #ddd; */
  display: flex;
  align-items: center;
}
input{
  /* background-color: transparent; */
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}
input:focus{
  outline: none;
}
#search-icon{
  color: royalblue;
  margin-right: 10px;
}
.results-list{
  text-align: center;
  font-weight: 400;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 600px;
  max-width: 100%;
  overflow-y: scroll;
}
.cards{
  border: 2px dashed black;
  margin: 10px auto ;
  display: inline-block;
  float: left;
  margin-right: 10px;
}